<header class="header-navigation" id="header">
  <nav><div class="logo"><a href="/">杨青个人博客</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="{{ url_for('blog.index') }}">网站首页</a></li>
      <li><a href="{{ url_for('blog.share') }}">我的相册</a></li>
      <li><a href="{{ url_for('blog.list') }}">我的日记</a></li>
      <li><a href="{{ url_for('blog.about') }}">关于我</a></li>
      <li><a href="{{ url_for('blog.gbook') }}">留言</a></li>
      <li><a href="/info/">内容页</a></li>
      <li><a href="{{ url_for('blog.infopic') }}">内容页</a></li>
    </ul>
</nav>
</header>

<script>
    $(function () {
        var as = $("#starlist a");
        for(var i=0;i<as.length;i++){
            str = new RegExp(as.eq(i).attr("href"));
            if (str.test(window.location.pathname)){
                as.eq(i).addClass("selected")
            }
        }

    })
</script>