<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页_杨青个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
<meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青" />
<meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/blog/css/base.css" rel="stylesheet">
<link href="/static/blog/css/index.css" rel="stylesheet">
<link href="/static/blog/css/m.css" rel="stylesheet">
<script src="/static/blog/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/blog/js/comm.js"></script>
<!--[if lt IE 9]>
<script src="/static/blog/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
{% include 'blog/header.html' %}

<article>
  <aside class="l_box" >
      <div class="about_me">
        <h2>关于我</h2>
        <ul>
          <i><img src="{{ user.icon }}"></i>
          <p><b>{{ user.name }}</b>，{{ user.sign }}</p>
        </ul>
      </div>
      <div class="wdxc">
        <h2>我的相册</h2>
        <ul>
            {% for i in range(6) %}
                 <li><a href="/"><img src="{{ imgs[i].path }}"></a></li>
            {% endfor %}

        </ul>
      </div>
      <div class="search">
        <form action="" method="post" name="searchform" id="searchform">
          <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
          <input name="show" value="title" type="hidden">
          <input name="tempid" value="1" type="hidden">
          <input name="tbname" value="news" type="hidden">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>
      <div class="fenlei" id="fenlei">
        <h2>文章分类</h2>
        <ul>
            {% for type in types %}
                 <li typeid="{{ type.id }}"><a href="javascript:;">{{ type.title }}({{ type.articles | length }})</a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="tuijian">
        <h2>站长推荐</h2>
        <ul>
          <li><a href="/">你是什么人便会遇上什么人</a></li>
          <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
          <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
          <li><a href="/">个人博客模板《绅士》后台管理</a></li>
          <li><a href="/">你是什么人便会遇上什么人</a></li>
          <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
          <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
          <li><a href="/">个人博客模板《绅士》后台管理</a></li>
        </ul>
      </div>
      <div class="links">
        <h2>友情链接</h2>
        <ul>
          <a href="http://www.yangqq.com">杨青个人博客</a> <a href="http://www.yangqq.com">杨青博客</a>
        </ul>
      </div>
      <div class="guanzhu">
        <h2>关注我 么么哒</h2>
        <ul>
          <img src="{{ user.QRcode }}">
        </ul>
      </div>
  </aside>
  <main class="r_box" id="r_box">
    {% for log in dlog %}
        <li>
                <i><a href="/info/{{ log.id }}"><img src="{{ log.imgpath }}"></a></i>
              <h3><a href="/info/{{ log.id }}">{{ log.title }}</a></h3>
              <p>{{ log.msg }}</p>
        </li>
    {% endfor %}
  </main>
</article>
<footer>
  <p>Design by <a href="http://www.yangqq.com" target="_blank">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<a href="#" class="cd-top">Top</a>

<script>
    $("#fenlei li").click(function () {
        typeid = $(this).attr("typeid");

        $.post("/index/",{"typeid":typeid},function (data) {

            list = data.data;
            console.log(list)
            lis = "";
            for(var i=0;i<list.length;i++){
                lis += "<li><i><a href='/info/"+list[i]["id"]+"'><img src='"+list[i]['imgpath']+"'></a></i><h3><a href='/info/"+list[i]["id"]+"'>"+list[i]['title']+"</a></h3> <p>"+list[i]['msg']+"</p></li>";

            }
            $("#r_box").html(lis);
        })
    });

</script>
</body>
</html>
