<!doctype html>
<html>
<head>
<meta charset=utf-8>
<title>首页_杨青个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
<meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青" />
<meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/blog/css/base.css" rel="stylesheet">
<link href="/static/blog/css/index.css" rel="stylesheet">
<link href="/static/blog/css/info.css" rel="stylesheet">
<link href="/static/blog/css/m.css" rel="stylesheet">
<script src="/static/blog/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/blog/js/comm.js"></script>
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
{% include 'blog/header.html' %}
<article>
  <aside class="l_box">
    <div class="search">
      <form action="/static/blog//e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="fenlei" id="fenlei">
      <h2>文章分类</h2>
      <ul>
          {% for type in types %}
                <li typeid="{{ type.id }}"><a href="javascript:;">{{ type.title }}（{{ type.articles | length }}）</a></li>
          {% endfor %}
      </ul>
    </div>
    <div class="tuijian">
      <h2>站长推荐</h2>
      <ul>
        <li><a href="/">你是什么人便会遇上什么人</a></li>
        <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
        <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
        <li><a href="/">个人博客模板《绅士》后台管理</a></li>
        <li><a href="/">你是什么人便会遇上什么人</a></li>
        <li><a href="/">帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></li>
        <li><a href="/">第二届 优秀个人博客模板比赛参选活动</a></li>
        <li><a href="/">个人博客模板《绅士》后台管理</a></li>
      </ul>
    </div>
    <div class="tuijian">
      <h2>点击排行</h2>
      <ul>
          {% for foo in paihang %}
            <li><a href="/info/{{ foo.id }}">{{ foo.title }}</a></li>
          {% endfor %}
      </ul>
    </div>
    <div class="cloud">
      <h2>标签云</h2>
      <ul>
          {% for foo in biaoqian %}
            <a href="javascript:;">{{ foo.labelname }}</a>
          {% endfor %}


      </ul>
    </div>
    <div class="guanzhu">
      <h2>关注我 么么哒</h2>
      <ul>
        <img src="/static/blog/images/wx.jpg">
      </ul>
    </div>
  </aside>
  <main id="r_box">
    <div class="infosbox">
      <div class="newsview">
        <h3 class="news_title">{{ article.article.title }}</h3>
        <div class="bloginfo">
          <ul>
            <li class="author">作者：<a href="/">{{ article.article.user.name }}</a></li>
            <li class="lmname"><a href="/">{{ article.lanmu }}</a></li>
            <li class="timer">时间：{{ article.article.time }}</li>
            <li class="view">{{ article.article.readnum }}人已阅读</li>
          </ul>
        </div>
        <div class="tags">
            {% for label in article.labels %}
                <a href="/" target="_blank">{{ label }}</a>
            {% endfor %}
        </div>
        <div class="news_about"><strong>简介</strong> {{ article.article.descri }}</div>
        <div class="news_con">
            {{ article.article.msg | safe }}
        </div>
      </div>
      <div class="share">
        <p class="diggit"><a href="javascrip:;"> 很赞哦！ </a>(<b id="diggnum">{{ article.article.zan }}</b>)</p>
      </div>
      <div class="nextinfo">
        <p>上一篇：<a href="/news/life/2018-03-13/804.html">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a></p>
        <p>下一篇：<a href="/news/life/">返回列表</a></p>
      </div>
      <div class="news_pl">
        <h2>文章评论</h2>
        <div class="gbko"> 
          <script src="/e/pl/more/?classid=77&amp;id=106&amp;num=20"></script>
          <div class="fb">
              {% for comment in comments %}
                <ul>
                  <p class="fbtime"><span>{{ comment.time }}</span>{{ comment.name }}</p>
                  <p class="fbinfo">{{ comment.msg }}</p>
                </ul>
              {% endfor %}


          </div>
{#          <div class="fb">#}
{#            <ul>#}
{#              <p class="fbtime"><span>2018-07-24 08:52:48</span> 卜野</p>#}
{#              <p class="fbinfo">驱蚊器翁</p>#}
{#              <div class="ecomment"><span class="ecommentauthor">网友 家蚂蚁 的原文：</span>#}
{#                <p class="ecommenttext">坚持哟!看你每天都有写，请继续加油，再接再厉哦</p>#}
{#              </div>#}
{#            </ul>#}
{#          </div>#}
          
          <script>
		  function CheckPl(obj)
		  {
              if(obj.saytext.value=="")
              {
                  alert("您没什么话要说吗？");
                  obj.saytext.focus();
                  return false;
              }
		  return true;
		  }
		  </script>
          <form action="" method="post" name="saypl" id="saypl" onsubmit="return CheckPl(document.saypl)">
            <div id="plpost">
              <p class="saying"><span><a href="/e/pl/?classid=77&amp;id=106">共有<script type="text/javascript" src="/e/public/ViewClick/?classid=77&amp;id=106&amp;down=2"></script>{{ comments | length }}条评论</a></span>来说两句吧...</p>
              <p class="yname"><span>用户名:</span>
                <input name="username" type="text" class="inputText" id="username" value="" size="16">
              </p>
              <p class="yzm" >
                  <span >验证码:
                <input name="key" id="yzm" type="text" class="inputText" size="16" >
                  </span>
                  <img id="vcode" src="/vcode/" alt="" style="width: 80px;height: 30px;display: inline-block;">
                  <span id="error"></span>
              </p>
              <input name="nomember" type="hidden" id="nomember" value="1" checked="checked">
              <textarea name="saytext" rows="6" id="saytext"></textarea>
              <input name="imageField" type="submit" value="提交">
              <input name="id" type="hidden" id="id" value="106">
              <input name="classid" type="hidden" id="classid" value="77">
              <input name="enews" type="hidden" id="enews" value="AddPl">
              <input name="repid" type="hidden" id="repid" value="0">
              <input type="hidden" name="ecmsfrom" value="/joke/talk/2018-07-23/106.html">
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
</article>
<footer>
  <p>Design by <a href="http://www.yangqq.com" target="_blank">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
</body>

<script>

    $("#yzm").bind('input propertychange',function(){
        $.post("/info/",{"key":$("#yzm").val()},function (data) {
            if (data!="ok"){
                 $("#error").html(data).css("color","red")
            }
            else if(data == "ok"){
                $("#error").html(data).css("color","green")
            }
            else if(data=="commentok"){
                window.location.reload()
            }
        })
    });


    $("#vcode").click(function () {
        num = parseInt(Math.random()*100);
        str = "/vcode/"+num;
        $(this).attr("src",str)
    });



    $(".diggit>a").click(function () {
        $.post("/info/{{ article.article.id }}",{"zan":{{ article.article.id }}},function (data) {
            if (data!="ok"){
                alert(data);
            }
            else if(data=="ok"){
                window.location.reload();
            }

        })
    });

    $("#fenlei li").click(function () {
        typeid = $(this).attr("typeid");
        $.post("/index/",{"typeid":typeid},function (data) {
            list = data.data;
            lis = "";
            for(var i=0;i<list.length;i++){
                lis += "<li><i><a href='/info/"+list[i]['id']+"'><img src='"+list[i]['imgpath']+"'></a></i><h3><a href='/info/"+list[i]['id']+"'>"+list[i]['title']+"</a></h3> <p>"+list[i]['msg']+"</p></li>";

            }
            $("#r_box").html(lis).addClass("r_box");
        })
    });
</script>
</html>
