<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>首页_杨青个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
<meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青" />
<meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/static/blog/css/base.css" rel="stylesheet">
<link href="/static/blog/css/index.css" rel="stylesheet">
<link href="/static/blog/css/m.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
<script src="/static/blog/js/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/blog/js/comm.js"></script>
<script src="/static/blog/js/scrollReveal.js"></script>
</head>
<body>
{% include 'blog/header.html' %}
<article>
  <div class="picbox">


  </div>
  <div class="pagelist">

  </div>
</article>
<footer>
  <p>Design by <a href="http://www.yangqq.com" target="_blank">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<a href="#" class="cd-top">Top</a>
<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
			window.scrollReveal = new scrollReveal({reset: true});
		})();
	};

    function post(page){
        $.post("/share/",{"page":page},function (data) {
            console.log(data);
            //分页标签
            $(".pagelist").eq(0).html("");
            pages = data.data.pages;
            page = data.data.page;
            has_prev = data.data.has_prev;
            has_next = data.data.has_next;
            child="";
            if (has_prev)
                child += "<a href='javascript:post("+(parseInt(page)-1)+")'>上一页</a>";
            for(var i=1;i<=pages;i++){
                if(i==page)
                    child+="<a href='javascript:post("+i+");' class='curPage'>"+i+"</a>";
                else
                    child+="<a href='javascript:post("+i+");'>"+i+"</a>";
            }
            if (has_next)
                child +="<a href='javascript:post("+(parseInt(page)+1)+");'>下一页</a>";
            $(".pagelist").eq(0).html(child);


            //数据显示
            $(".picbox").eq(0).html("");
            for(var i=0;i<4;i++)
                $(".picbox").eq(0).append("<ul></ul>");
            data = data.data.data;
            for(var i=0;i<data.length;i++){
                img = data[i];
                li = "<li data-scroll-reveal=\"enter bottom over 1s\" ><a href=\"/\"><i><img src=\""+img.path+"\"></i>\n" +
                    "            <div class=\"picinfo\">\n" +
                    "              <h3>"+img.title+"</h3>\n" +
                    "              <span>"+img.detail+"</span> </div>\n" +
                    "            </a>\n" +
                    "            </li>";

                $(".picbox ul").eq(i%4).append(li)
            }
        })
    }
    post(1);
</script>
</body>
</html>
